body {
    color: black;
    background-color: #DCEFEF;
	margin: 0;
}

/* barra de navegacao (links) */
.header {
	background-color: #55B4B0;
	overflow: hidden;
	position: fixed; /* atribuir um menu fixo */
	top: 0; /* Posicionar no topo */
	width: 100%;
	z-index: 99;  /*Sobreporse*/
}

.header a { 
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 22px;
}

.header a:hover {
	background-color: #EFC050;
	color: black;
	box-shadow: 0 0 16px 0 yellow;
}

.header a:active {
	background-color: #d9ff66;
} 

#header-right {
	float: right;
	padding-top: 14px;
}

#header-left{
	float: left;
	height:50px;
	width: 100px;
}

.cart img{
	height:20px; 
	width: 20px;
}

/* texto centrado */
p.centered {
	padding-top: 50px;
    font-size: 25px; 
	text-align: center;
}

/* Produtos */
.slider-box{
	margin: 20px;
	height: 350px;
	width: 250px;
	position: relative;
	background-color: rgb(177, 219, 219);
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.slider-box a{
	text-decoration: none;
	text-align: center;
}

.img-box{
	height: 170px;
}

.img-box img{
	height: auto;
	max-width: 100%;
	max-height: 100%;
}

.detail {
	display: flex;
	flex-direction: column;
	align-items: center;
	box-sizing: border-box;
	font-size: 19px;
	line-height: 35px;
}

.price{
	color: brown;
	line-height: 20px;
}

.add-cart{
	color: darkblue;
	position: absolute;
	bottom:0px;
	height: 45px;
	background-color: rgb(111, 158, 158);
	width: 100%;
	font-size: 19px;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;	
}

.slider-box:hover{
	box-shadow: 2px 2px 12px yellow;
}

.slider-box:hover .img-box img{
	transform: scale(1.06);
	transition: all ease 0.3s;
}

.add-cart:hover{
	transform: scale(1.1);
	background-color: lightskyblue;
	box-shadow: 2px 2px 10px yellow;
	transition: all ease 0.1s;
}

/* Rodape */
#footer {
	background-color: #55B4B0;
	text-align: right;
	font-size: 10px;
    overflow: hidden;
	bottom: 0; /* Posicionar no fim */
	width: 100%; 
}

.content {
	text-align: center;
	line-height: 2.0;
    padding-top: 70px; 
}

.content label {
	display: inline-block;
}

.content input {
	margin-left: 10px;
	width: 250px;
	display: inline-block;
}

.products-container {
	display: flex;
	flex-wrap: wrap;
	max-width: 650px;
	justify-content: space-around;
	margin-left: 200px;
	margin-right: 200px;
	padding-bottom: 50px;
}

.products-header {
	width: 100%;
	max-width: 650px;
	display: flex;
	justify-content: flex-start;
	border-bottom: 4px solid grey;
	margin: 0;
}

.products-title {
	width: 45%;
	border-bottom: 1px solid grey;
	margin-bottom:0px;

}

.price-cart {
	width: 15%;
	display: flex;
	align-items: center;
	border-bottom: 1px solid grey;

}

.quantity {
	width: 30%;
	display: flex;
	align-items: center;
	border-bottom: 1px solid grey;

}

.total {
	width: 10%;
	display: flex;
	align-items: center;  
	border-bottom: 1px solid grey;
}

.product {
	width: 45%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 10px 0;
	border-bottom: 1px solid grey;
}

.products{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.products img {
	width: 75px;
}

.basketTotalContainer {
	display: flex;
	justify-content: flex-end;
	width: 100%;
	padding: 10px 0;
}

.basketTotalTile {
	width: 30%;
}

.basketTotal {
	width: 10%;
}
